@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-popup {
  animation: popup 0.35s ease-out forwards;
}

